@font-face {
  font-family: "CuteFont";
  src: url(./CuteFont/CuteFont-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "HangeulNuri";
  src: url(./HangeulNuri/HangeulNuriB.ttf) format("opentype");
}
