.header-container {
  padding: 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-container a {
  text-decoration: none;
}

.header-logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  font-family: var(--logo-font);
  display: flex;
  align-items: center;
}

.header-logo-text {
  display: inline-block;
  position: relative;
  color: #222;
}

.header-logo-img {
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
}

.header-burger {
  display: none;
  padding: 8px;
}

.header-menu-left,
.header-menu-right {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) {
  .header-container {
    padding: 10px;
    z-index: 999;
  }

  .header-logo {
    font-size: 32px;
    margin-left: 0px;
  }

  .sidebar .header-logo-text {
    color: white;
  }

  .header-burger {
    display: inline-flex;
    align-items: center;
  }

  .header-burger-icon {
    width: 24px;
    height: 24px;
    stroke: black;
    fill: black;
    stroke-width: 8px;
  }

  .sidebar .header-burger-icon {
    fill: white;
    stroke: white;
    stroke-width: 1px;
  }
}
