.header-menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #222;
  color: #eee;
  fill: #eee;
  font-family: var(--menu-font);
  font-size: 22px;
  border: 0;
  border-radius: 15px 15px 0 15px;
}

.header-menu-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
