.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  box-sizing: border-box;
  padding-right: 80px;
  justify-content: space-between;
  font-family: var(--menu-font);
  font-weight: bold;
}

.sidebar-container a {
  text-decoration: none;
}

.sidebar-menu {
  height: 100%;
  overflow: auto;
}

.sidebar-menu-item-container {
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  width: 100%;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #999;
  fill: #999;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}

.sidebar-menu-item.selected {
  background-color: #222;
  color: #eee;
  fill: #eee;
  border-radius: 15px;
}

.sidebar-menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.sidebar-others {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.sidebar-others-item {
  display: flex;
  align-items: center;
  background-color: #7289da;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  color: white;
  fill: white;
}

.sidebar-others-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sidebar-subitem {
  margin-left: 20px;
  font-family: var(--main-font);
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 60px 10px 10px 10px;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }

  .sidebar-container.visible {
    display: flex;
    visibility: visible;
    transform: translate(0);
  }

  .sidebar-menu-item.selected {
    background-color: #777;
  }

  .sidebar-menu-item,
  .sidebar-subitem {
    transform: translate(-100%);
  }

  .sidebar-container.visible .sidebar-menu-item,
  .sidebar-container.visible .sidebar-subitem {
    transform: translate(0);
    transition: transform 1s;
    color: white;
  }
}
