.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  box-sizing: border-box;
  padding-right: 80px;
  justify-content: space-between;
  font-family: var(--menu-font);
}

.sidebar-container a {
  text-decoration: none;
}

.sidebar-menu-item {
  width: 100%;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #999;
  fill: #999;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}

.sidebar-menu-item.selected {
  background-color: #222;
  color: #eee;
  fill: #eee;
  border-radius: 15px;
}

.sidebar-menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.sidebar-others {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.sidebar-others-item {
  display: flex;
  align-items: center;
  background-color: #7289da;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  color: white;
  fill: white;
}

.sidebar-others-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

