@font-face {
  font-family: "CuteFont";
  src: url(./CuteFont/CuteFont-Regular.woff2) format("woff2"),
    url(./CuteFont/CuteFont-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  src: url(./GmarketSans/GmarketSansMedium.woff2) format("woff2"),
    url(./GmarketSans/GmarketSansMedium.ttf) format("truetype");
}

:root {
  --logo-font: 'CuteFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --menu-font: 'GmarketSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
