@font-face {
  font-family: "CuteFont";
  src: url(/fonts/CuteFont/CuteFont-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "HangeulNuri";
  src: url(/fonts/HangeulNuri/HangeulNuriB.ttf) format("opentype");
}
