.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji-big {
  font-size: 160px;
}

.home-img {
  width: 400px;
  max-width: 100%;
  image-rendering: pixelated;
}
