:root {
  --icon-size: 140px;
}

.icon-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.icon-menu-item {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  background-color: #222;
  border-radius: 15px;
  color: #fff;
  fill: #fff;
  font-family: var(--menu-font);
}

.icon-menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.icon-item-container {
  display: grid;
  grid-auto-rows: var(--icon-size);
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(var(--icon-size), 1fr));
  gap: 20px;
  /* grid-auto-columns: 150px; */
}

.icon-item {
  display: inline-flex;
  border-radius: 15px;
  width: var(--icon-size);
  height: var(--icon-size);
  box-sizing: border-box;
}

.icon-back-button-container {
  background-color: #222;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.icon-back-button {
  height: 100%;
  fill: #fff;
}

.icon-item-icon {
  width: 100%;
  height: 40%;
  fill: #777;
}

.icon-card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  background-color: #F7F9FC;
  color: #777;
}

.icon-img {
  max-height: 100px;
}
