.icon-container {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.icon-drag-visualizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: none;
}

.icon-drag-add {
  width: 80%;
  height: 80%;
  display: none;
}

.icon-drag-reject {
  width: 100%;
  height: 100%;
  display: none;
}

.drag-accept .icon-drag-add {
  fill: white;
  display: block;
}

.icon-drag-reject-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  font-family: var(--menu-font);
  font-size: 40px;
  padding: 10%;
  box-sizing: border-box;
}
.drag-reject .icon-drag-reject-container {
  display: flex;
}
.drag-reject .icon-drag-reject {
  fill: red;
  display: block;
}

.drag-active .icon-drag-visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon-menu-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.icon-menu-left,
.icon-menu-right {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.icon-menu-right {
  margin-left: auto;
}

.icon-menu-right .icon-menu-item {
  margin-left: 10px;
}

.icon-menu-item {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  background-color: #222;
  border-radius: 15px;
  color: #fff;
  fill: #fff;
  cursor: pointer;
  font-family: var(--menu-font);
}

.icon-upload-icon {
  width: 18px;
  height: 18px;
}

.icon-back-button-container {
  background-color: #222;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
}

.icon-arrow-icon {
  width: 38px;
  height: 38px;
}
.icon-add-folder-btn {
  fill: #222;
  background-color: transparent;
  padding: 10px;
}
.icon-remove-btn {
  fill: #cc0000;
  background-color: transparent;
  padding: 10px;
}
.icon-add-folder-btn:hover,
.icon-remove-btn:hover {
  background-color: #ddd;
}
.icon-menu-icon {
  width: 28px;
  height: 28px;
}

.icon-upload-text {
  margin-left: 10px;
}

.icon-guild-icon {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-left: 15px;
}

.icon-guild-title {
  font-family: var(--menu-font);
  font-size: 32px;
  margin-left: 10px;
  color: #222;
}

.icon-group-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-group-separator {
  margin-left: 10px;
  margin-right: 10px;
}

.icon-group-icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.icon-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.icon-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--main-font);
  font-size: 18px;
  padding: 8px;
  color: #777;
  fill: #777;
  font-weight: bold;
  text-decoration: none;
}
.icon-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.icon-item-header {
  color: #999;
  position: sticky;
  top: 0;
  background-color: white;
}
.icon-item-header:hover {
  background-color: white;
  cursor: inherit;
}
.icon-item-separator {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}

.header-name {
  margin-left: 10px;
}

.icon-item-name-container {
  display: inline-flex;
  flex: 1;
  align-items: center;
}

.icon-item-name {
  width: 160px;
  height: auto;
  line-height: normal;
  display: inline-flex;
  color: #777;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.icon-item-name:focus {
  background-color: #fff;
}
.icon-item-name:hover {
  cursor: text;
  background-color: #fff;
}

.icon-item-icon {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.icon-item>* {
  display: inline-flex;
  align-items: center;
}

.icon-item-author {
  flex: 0 0 20%;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.icon-item-author-icon {
  width: 24px;
  height: 24px;
  padding: 10px;
}

.icon-item-count {
  flex: 0 0 120px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  justify-content: center;
}

.icon-item-date {
  flex: 0 0 140px;
  justify-content: center;
}
